body {
  height: 100vh;
  margin: 0px;
}

.background {
  background-image: url("../images/whiplash.png"), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  background-blend-mode: overlay;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.keys {

}
